/* style.css */

/* Reset some default styles */
a{
    text-decoration: none;
    color: inherit;
}
.dashBody {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: none;
    height: 90vh;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    flex: 0 0 calc(33.33% - 10px);
    /* Three cards in a row, with 10px spacing between them */
    max-width: calc(29.33% - 10px);
    /* Maximum width for each card */
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 10px;
    /* Add spacing between cards */
    margin-bottom: 20px;
    margin-top: 40px;
    box-sizing: border-box;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    /* Add a smooth transition effect */
}

.card:hover {
    transform: scale(1.05);
    /* Scale the card slightly on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Change the box shadow on hover */
}

/* Remove the right margin from the last card in each row */
.card:nth-child(3n) {
    margin-right: 0;
}
.card h1 {
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 50px;
}

.card img {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
